body {
  /* background-color: #7f1d1d; */
  max-width: 1280px;
  margin: 0 auto;
  background-color: grey;
  position: static;
  font-family: Verdana;
  overflow-x: hidden;
}

header {
  display: flex;
  font-variant: small-caps;
  border-bottom: 3px solid white;
}

header nav {
  display: flex;
  gap: 10px;
  place-items: center;
}

nav > * {
  background-color: maroon;
  color: white;
  padding: 10px;
  text-decoration: none;
}

#header-title {
  width: 100%;
}

article {
  max-width: 65%;
}

main {
  position: relative;
}

#photo-roll {
  display: flex;
  align-content: center;
  gap: 20px;
}

#photo-roll img {
  max-height: 192px;
}

#photo-roll img {
  filter: blur(5px);
}

#photo-roll-container {
  position: relative;
  width: 100vw;
  height: 256px;
}

#photo-roll {
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 400ms;
}

#photo-roll .selected {
  filter: none;
  max-height: 256px;
  transition-duration: 400ms;
}

#photo-roll-navigation {
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 256px;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
}

#biography h2 {
  background-color: maroon;
  color: white;
  padding: 20px;

  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0) 100%
  );

  margin-bottom: 0;
}

#biography-about-me {
  padding: 20px;
  color: white;
  background-color: rgb(107, 0, 0);

  text-align: justify;

  background: rgb(107, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 0, 1) 0%,
    rgba(107, 0, 0, 0) 100%
  );
}

#fun-facts {
  margin-top: 10px;

  background-color: maroon;
  color: white;
  padding: 20px;

  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0) 100%
  );
}

.descriptor-bg {
  padding: 10px;
  color: white;
  background-color: rgb(107, 0, 0);

  background: rgb(107, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 0, 1) 0%,
    rgba(107, 0, 0, 0) 100%
  );
}

section p {
  margin: 0;
}

#prev-btn {
  position: absolute;
  left: 125px;
  top: 50%;
}

#next-btn {
  position: absolute;
  right: 0;
  top: 50%;
}

#photo-roll-navigation {
  height: 100%;
  max-width: 1600px;
  left: -250px;
}

#photo-roll-navigation button {
  scale: 8;
  padding: 0;
  border: none;
  background: none;
  z-index: 999;
  transition-duration: 200ms;
  opacity: 0.2;
}

#photo-roll-navigation button:hover {
  scale: 8.5;
  transition-duration: 200ms;
}

.image-container {
  display: flex;
}

.image-descriptor {
  max-width: 200px;
  background-color: rgb(107, 0, 0);
  color: white;
  margin: 10px;
  visibility: collapse;
  position: absolute;
}

.image-container .selected {
  visibility: visible;
  position: relative;
}

.image-descriptor h2 {
  margin: 0;
  padding: 10px;
}

.image-descriptor-header {
  text-align: center;
  background-color: maroon;
  color: white;
}

.image-descriptor-description {
  margin: 10px;
}

main {
  position: static;
}
.overflow-width {
  position: absolute;
  width: 125%;
  margin: 0 auto;
}

.font-handwriting {
  font-family: "Caveat", cursive;
}

h2 {
  font-family: "Kalam", cursive;
  font-size: 24px;
}

#country-map-container {
  display: inline-block;
  position: relative;
  float: right;
  /* height: 100%;
  width: 100%; */
}

#country-map {
  /* position: absolute; */
  right: 0;
  top: 20%;

  max-height: 512px;
}

#country-pin-manila {
  /* point towards Manila*/
  position: absolute;
  left: 44.23%;
  top: 34.25%;
}

.country-place {
  background-color: maroon;
  color: white;

  border-radius: 999px;
  padding: 6px;
}

main {
  position: relative;
}

.article-bg {
  margin-top: 10px;
  background-color: maroon;
  color: white;
  padding: 20px;
  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0) 100%
  );
}

article {
  position: relative;
}

.icon-br {
  position: absolute;
  top: 25px;
  right: 50px;
  scale: 3;
  opacity: 0.25;
  rotate: -14deg;
}

button {
  border: 0;
}

/* .image-descriptor-description {
  text-align: justify;
} */

/* 
Note; Colours taken from Tailwind

Source: https://tailwind-to-css.vercel.app/


CSS Gradient Tool
Source: https://cssgradient.io/


Removing border from buttons
Source: https://stackoverflow.com/questions/11497094/remove-border-from-buttons
*/
