body {
  /* background-color: #7f1d1d; */
  max-width: 1280px;
  margin: 0 auto;
  background-color: grey;
  position: relative;
}

header {
  display: flex;
  font-variant: small-caps;
  border-bottom: 3px solid white;
}

header nav {
  display: flex;
  gap: 10px;
  place-items: center;
}

nav > * {
  background-color: maroon;
  color: white;
  padding: 10px;
  text-decoration: none;
}

#header-title {
  width: 100%;
}

article {
  max-width: 65%;
}

main {
  position: relative;
}

#photo-roll {
  display: flex;
  align-content: center;
  gap: 20px;
}

#photo-roll img {
  max-height: 192px;
}

#photo-roll img {
  filter: blur(5px);
}

#photo-roll-container {
  position: relative;
  width: 100vw;
  height: 256px;
}

#photo-roll {
  position: absolute;
  left: 0;
  transition-duration: 400ms;
}

#photo-roll .selected {
  filter: none;
  max-height: 256px;
  transition-duration: 400ms;
}

#photo-roll-navigation {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
}

#biography h2 {
  background-color: maroon;
  color: white;
  padding: 20px;

  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0) 100%
  );

  margin-bottom: 0;
}

#biography-about-me {
  padding: 10px;
  color: white;
  background-color: rgb(107, 0, 0);

  background: rgb(107, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 0, 1) 0%,
    rgba(107, 0, 0, 0) 100%
  );
}

#fun-facts {
  margin-top: 10px;

  background-color: maroon;
  color: white;
  padding: 20px;

  background: rgb(128, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 0, 0, 1) 0%,
    rgba(128, 0, 0, 0) 100%
  );
}

.descriptor-bg {
  padding: 10px;
  color: white;
  background-color: rgb(107, 0, 0);

  background: rgb(107, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 0, 1) 0%,
    rgba(107, 0, 0, 0) 100%
  );
}

section p {
  margin: 0;
}

#prev-btn {
  position: absolute;
  left: -200px;
  top: 50%;
}

#next-btn {
  position: absolute;
  right: 650px;
  top: 50%;
}

#photo-roll-navigation button {
  scale: 8;
  padding: 0;
  border: none;
  background: none;
  z-index: 999;
  transition-duration: 200ms;
  opacity: 0.2;
}

#photo-roll-navigation button:hover {
  scale: 8.5;
  transition-duration: 200ms;
}

.image-container {
  display: flex;
}

.image-descriptor {
  max-width: 200px;
  background-color: rgb(107, 0, 0);
  color: white;
  margin: 10px;
  visibility: collapse;
  position: absolute;
}

.image-container .selected {
  visibility: visible;
  position: relative;
}

.image-descriptor h2 {
  margin: 0;
  padding: 10px;
}

.image-descriptor-header {
  background-color: maroon;
  color: white;
}

.image-descriptor-description {
  margin: 10px;
}

/* 
Note; Colours taken from Tailwind

Source: https://tailwind-to-css.vercel.app/


CSS Gradient Tool
Source: https://cssgradient.io/


Removing border from buttons
Source: https://stackoverflow.com/questions/11497094/remove-border-from-buttons
*/
